@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
:root{
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --titulos:'Baloo 2', cursive;
    --parrafos:'Montserrat', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}


body{
    font-size: 1.6rem;
	background-color:#ffffff;
	
}


html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

	/*scroll-behavior: smooth;*/
}


a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}

.logo{
	margin-left: 1%;
	line-height: 80px; 
	margin-top: 10px;
}

.logo img{
	width:175px ;
	height: 150px ;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: visible;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 15px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */



/* Hero Section */

#hero {
	background-image: url(../img/mountains.png);
	background-size: cover;
	background-position:  center;
	position: relative;
	z-index: 1;
	
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero .title{
	margin-bottom: -52px;
	
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 2.5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}




@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    cursor: none;
}

main {
    width: 100%;
    height: 100vh;
    box-shadow: 0 16px 18px rgba(22, 35, 43, 0.19);
    transform: rotate(0);
}
.bg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.bg-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg-main-img {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: var(--img);
    background-size:cover;
    background-position: center;
}

.bg-circle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.bg-circle {
    width: 32vmin;
    height: 32vmin;
    overflow: hidden;
    clip-path: circle(16vmin at center);
}

.bg-circle-img {
    width: 100%;
    height: 100%;
    clip-path: circle(16vmin at center);
    position: relative;
    transform: rotate(0);
}

.bg-circle-img::after {
    content: "";
    position:fixed;
    width: 85vw;
    height: 80vh;
    display: block;
    background-image: var(--img);
    top: calc(-40vh + 16vmin);
    left: calc(-85vw / 2 + 16vmin);
    background-size: cover;
    background-position: center;
}

main::after {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: rgba(39, 108, 190, 0.33);*/
    mix-blend-mode: normal;
    z-index: 20;
}

.cursor {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000000;
    mix-blend-mode: hard-light;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    transition: opacity 0.4s;
    top: -30px;
    left: -30px;
}

.cursor-f {
    position: fixed;
    border-radius: 50%;
    border: 1px dashed #f8f4f4;
    width: 30px;
    height: 30px;
    pointer-events: none;
    animation: spin 2.6s linear infinite paused;
    transition: background-color 0.3s;
    --next: 0;
    --prev: 0;
}

.cursor.clicked .cursor-f {
    background-color: rgba(234, 227, 207, 0.12);
}

.cursor.hidden {
    opacity: 0;
}

.btns {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    z-index: 999;
    mix-blend-mode: exclusion;
    transition-duration: 0.6s;
}

.btns.hidden {
    opacity: 0;
    pointer-events: none;
}


.arrow {
    display: block;
    width: 2vmax;
    height: 1vmax;
    border: none;
    background: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L7 1L13 6' stroke='%23EAE3CF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
    background-size: 100%;
    margin: 0.5vmax 0;
    padding: 1vmax 0;
    transition-duration: 0.3s;
}
h
.arrow.next {
    transform: rotate(180deg);
}

.arrow.next:hover {
    transform: rotate(180deg) translateY(-4px);
}

.arrow.prev:hover {
    transform: translateY(-4px);
}

.text {
    color: rgba(255, 255, 255, 0.65);
    position: static;
    bottom: 0.4em;
    font-size: 0.85em;
    width: 100%;
    z-index: 999;
    text-shadow: 1px 1px 0 #75757547;
	max-width: 1200px;
	margin: -320px auto 0 -10px;
	padding: 0 50px;
	justify-content: flex-start;
  	left: 20px; 
	top: 60%; 
	transform: translateY(-50%); 
}

.text h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
.text h1:nth-child(1) {
	animation-delay: 1s;
}
.text h1:nth-child(2) {
	animation-delay: 2s;
}
.text h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
.text h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
.text h1:nth-child(1) span {
	animation-delay: 0.5s;
}
.text h1:nth-child(2) span {
	animation-delay: 1.5s;
}
.text h1:nth-child(3) span {
	animation-delay: 2.5s;
}




/* End Hero Section */
/*.carousel img {
    display: none;
  }
  
  .carousel img:first-child {
    display: block;
  }*/
/* End Hero Section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px	;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
#about  p {
	margin-bottom: 20px;
}
/* End About Section */

/*why work with DATACOR*/
#work{
	margin-top: -10%;
}
#work .work{
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#work .work-top{
	max-width: 500px;
	margin: 0 auto;
}

/* end why work with DATACOR*/



  
/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(../img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */
/*services secction 2*/
.servicio-title {
	margin-top: -150px; 
  }
  
  .servicio-title span {
	display: block; 
	margin-top: -10px; 
  }
  .servicio-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.servicio-title span {
	color: crimson;
}

/*end secction 2*/

/* research Section */
#opinions{
	margin-top: -200px;
}

#opinions .opinions{
	flex-direction: row;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}
#opinions .opinions-items {
	/* max-width: 400px; */
	width: 100%;
}
#opinions .opinions-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 15px #0000002c;
	transition: 0.3s ease box-shadow;
	background-color:white;
}
#opinions .opinions-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
	
}
#opinions .opinions-info p {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}




/*End research Section */

/* Projects section */

#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */


	/* Strategic plan Section */

	 .titlee .tarjeta-titulo{
		font-size: 4rem;
		font-weight: 300;
		color: black;
		margin-top: -50px;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		text-align: center;
	}
	.titlee .tarjeta-titulo span {
		color:crimson;
	  }

	  .tarjeta-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		  width: 100%;
  		min-height: 100vh;
		  align-items: center;
		  gap: 2rem;
	  }
	  .tarjeta-contenido a {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
}
.tarjeta-contenido a:hover {
  letter-spacing: 0.25rem;
  background: var(--color);
  color: var(--color);
  box-shadow: 0 0 35px var(--color);
}
.tarjeta-contenido a::before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.tarjeta-contenido a span {
  position: relative;
  z-index: 1;
}
.tarjeta-contenido a i {
  position: absolute;
  inset: 0;
  display: block;
}
.tarjeta-contenido a i::before {
  content: '';
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.tarjeta-contenido a:hover i::before {
  left: 20%;
  width: 20px;
}
.tarjeta-contenido a i::after {
  content: '';
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--color);
  background: #27282c;
  transform: translateX(-50%);
  transition: 0.5s;
}

 a:hover i::after {
  left: 80%;
  width: 20px;
}

	  
	  .tarjeta {
		width: calc(50% - 20px); /* Ajusta el ancho de las tarjetas según tu preferencia */
		margin: 10px;
	  }

	 .tarjeta{
		width: 350px;
		height: 350px;
		position: relative;
		margin-top: 2rem;
		border-radius: 7px;
		box-shadow: 0 0 10px black;
		overflow: hidden;
		cursor: pointer;
		
	 }
	 .tarjeta .tarjeta-imagen{
		width: 100%;
		height: 100%;
		background-image: url(../img/mountain.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	 }

	 .tarjeta .tarjeta-contenido{
		padding: 10px;
		background-color: rgba(43, 40, 40, 0.6);
		color: white;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		border-radius: 7px;
		transform: translateY(100%);
		transition: 400ms ease;
	 }

	 .terjeta .tarjeta-contenido .tarjeta-boton{
		color: black;
		background-color:white;
		display: inline-block;
		padding: 10px 30px;
		border-radius: 7px;
		font-size: 18px;
		font-weight: bold;
		border: none;
		outline: 3px solid white;
		outline-offset:4px ;
	 }

	 .tarjeta .tarjeta-imagen:hover + .tarjeta-contenido, .tarjeta-contenido:hover{
		transform: translateY(0);
	 }
	 

	/* END Strategic plan Section */



/* contact Section */

#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

	
	
 
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 15px #0000002c;
	transition: 0.3s ease box-shadow;
	background-color: aliceblue;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}



.contacto{
    padding-top: 5rem;
	margin-bottom: 10rem;

}
.contacto h2{
    text-align: center;
    color: var(--azulClaro);
    font-size: 5rem;
}

@media(min-width: 768px) {
    .contenido-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.informacion-contacto{
    background-image: url('../img/contacto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media(min-width: 768px) {
    .informacion-contacto{
        height: 100vh;
    }
}
.informacion-contacto::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.informacion-contacto h3{
    font-size: 4rem;
    text-align: center;
	
}
.informacion-contacto p{
    font-size: 2rem;
	
}
.informacion-contacto h3,
.informacion-contacto p {
  margin-bottom: 50px;
}
.informacion-contacto h3, .informacion-contacto p{
    color: var(--blanco);
}
.formulario-contacto{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--azulOscuro);
}

.input-contacto label{
    color: var(--blanco);
    font-family: var(--parrafos);
    display: block;
    margin: 1rem 0;
    font-weight: bold;
}
.input-contacto input{
    padding: 1.2rem 1rem;
    font-family: var(--parrafos);
}

.input-contacto input, .input-contacto textarea{
    width: 100%;
    outline: none;
}

.input-contacto textarea{
    resize: none;
}

.input-contacto input[type="submit"]{
    width: auto;
    padding: 1rem 3rem;
    transition: background-color .3s ease-in-out;
}

.input-contacto input[type="submit"]:hover{
    background-color: var(--blanco);
    color: var(--azulClaro);
}


/*End contact Section */


 /* Footer */
 
 #footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}


/* End Footer */



/*----------------------------------------------------------------------*/

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */


/*STRATEGIC RESPONSIVE*/


@media (max-width: 768px) {
	.titlee .tarjeta-titulo{
		margin-top: -180px;
	}
	.tarjeta-container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
  
	.tarjeta {
		width: calc(100% - 50px); /* Ajusta el ancho de las tarjetas según tu preferencia */
		margin: 25px;
	}
  }
  
/*END */
@media (max-width: 768px) {
	.tarjeta-container {
	  display: flex;
	  flex-direction: column;
	}
  
	.tarjeta {
	  margin-bottom: 20px;
	}
  }
  
  

/* opinions  */
@media (max-width: 768px) { /* Puedes ajustar el ancho máximo según tus necesidades */
	.text {
	  position: relative; /* Esto permite desplazar el div */
	  top: -200px; /* Ajusta el valor según lo que desees */
	  left:-20px ;
	}
  }
  

@media (max-width: 768px) {
	#opinions{
		margin-top: -100px;
	}
	.opinions-section{
		position: absolute;
		margin-top: -580px;

	}
	.opinions-section h1.section-title {
	  font-size: 1.8rem;
	  line-height: 2rem;
	}
	
	.opinions-info p {
	  font-size: 0.9rem;
	}
  }

  @media (max-width: 1024px) {
	/* Estilos para pantallas con un ancho máximo de 1024px, como tabletas */
	.section-title {
	  font-size: 2rem;
	  line-height: 2.5rem;
	}
	
	.opinions-item {
	  margin-bottom: 30px;
	}
	
	.opinions-info p {
	  font-size: 0.9rem;
	}
  }
  	/* end opinions */

	/*why work with DATACOR*/
	  @media (max-width: 768px) {
		/* Estilos para pantallas con un ancho máximo de 768px, como dispositivos móviles */
		.work-top {
		  text-align: center;
		}
		
		.section-title {
		  font-size: 1.8rem;
		  line-height: 2rem;
		}
		.titlee{
			text-align: center;
		}
		.tarjeta-titulo span{
			font-size: 1.8rem;
			line-height: 2rem;
		}
		
		.work-top p {
		  font-size: 1.5rem;
		  margin: 10px 0;
		}
		#work{
			margin-top: -200px;
		}
	  }
	  	/* end why work with DATACOR*/
	  
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	
	
	.cta {
		font-size: 2rem;
		padding: 10px 30px;
	}
	h1.section-title {
		font-size: 4rem;
	}
	.tarjeta-titulo span{
		font-size: 4rem;
	}

	h1.service-title{
		font-size: 4rem;
	}

	/* slinder*/
	main {
		height: 100vh;
	  }
	.bg-circle-wrapper {
		height: 100vh;
	  }
	  
	  .bg-circle {
		width: 16vmin;
		height: 16vmin;
		clip-path: circle(8vmin at center);
	  }
	  
	  .bg-circle-img {
		clip-path: circle(8vmin at center);
	  }
	  
	  .bg-circle-img::after {
		width: 100vw;
		height: 100vh;
		top: calc(-50vh + 8vmin);
		left: calc(-100vw / 2 + 8vmin);
	  }

	    
	  
	/*end slider*/


	/* Hero */
	
	  .title{
		font-size: 2.5rem;
		
	  }
	
	/* End Hero */
		/* Text */
		.text h1 {
			font-size: 7rem;
		}
		/* End Tex */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0px 250px;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		margin-top: 150px;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	 #id{
		margin-top: 500px;
	 }
	/* End contact  */
}
/* End Media Query For Tablet */










/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
